RewriteEngine On

RewriteRule ^/?$ /commun/vue/index.php?type=accueil
RewriteRule ^a-propos/?$ /publique/vue/a-propos.php
RewriteRule ^connexion/?$ /publique/vue/connexion.php
RewriteRule ^inscription/?$ /publique/vue/inscription.php
RewriteRule ^boutique/([a-z]+)/?$ /commun/vue/index.php?type=$1
RewriteRule ^boutique/?$ /commun/vue/index.php?type=accueil
